<p>Bookmark Manager</p>

<ul>
<% @bookmarks.each do |bookmark| %>
<li class="bookmark" id="bookmark-<%= bookmark.id %>%">
  <a href=<%= bookmark.url %>> <%= bookmark.title %></a>
  <form action="/<%= bookmark.id %>" method="post">
    <input type='hidden' name='_method' value='DELETE'/>
    <input type="submit" value="Delete" />
  </form>
  <form action="/<%= bookmark.id %>/update" method="get">
    <input type="submit" value="Update">
  </form>
</li>
<% end %>
</ul>


<form action="/add">
  <input type="submit" value="Add">
</form>
